body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #262626;
}

.wrapper .loading {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}